@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  position: relative;
}

.active::before {
  content: "";
  display: block;
  background-color: #FFCEFB;
  width: 3px;
  height: 25px;
  position: absolute;
  top: 2px;
  left: 0;
  animation: blink 0.8s ease-in-out infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
